body{
background-color:#9DC88D;
background-repeat: no-repeat;
background-size: cover;
height: 100%;
  width: 100%;
  margin: 0;

}

#mojNaslov{
text-align: center;
margin: 2%  45px  0px 26%;
font-style: normal;
background-color:#266150;
padding:5px 0px 5px 0px;
border-radius:20px;
}
#mojNaslov h1{
font-size:100px;
margin:0px;
}


#opcenitaLista{
float:left;
width:21%;
margin-right: 30px;
margin-left: 15px;
margin-top: 50px;
}

#opcenitaLista li
   {
 background-color:#266150;
border:1px solid;
display:block;
text-align:center;
border-radius:5px;
margin:0;
  }

  #opcenitaLista li a{
text-decoration:none;
color:black;
font-size:30px;
text-align:center;
width:100%;
display:block;
}
li a:hover {
background-color: #9DC88D;
border-radius: 5px;
display: block;
}
#main{
font-size: 30px;
margin-top: 50px;
}
#main p{
  margin-left: 45px;
  margin-right:45px;
}
#slika{
display:block;
}
#slika  img{
  width:100%;
  margin:0px;
  padding:0px;
}
